<h1 class="panel">Your products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Product category</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.quantity %></td>
        <td><%= product.product_category %></td>
        <td><%= product.description %></td>
        <td><%= link_to 'Show', product, :class=>"tiny button success radius" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), :class=>"tiny button success radius"  %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"tiny button success radius" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, {:class=>"button small round success"} %>
