  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
      <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><a href="#">Shipper  <small>.......we serve and deliver</small></a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"></a>Menu</li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li class="active"><%= link_to 'Home', {:controller => "guests"} %></li>
                <li class="has-dropdown"><%= link_to 'Browse', { :controller=>"customers",:action => 'index'} %>
                <!--<ul class="dropdown">
                  <li><a href="#">Categories</a></li>
                  <li><a href="#">Retailers</a></li>
                  <li><a href="#">Products</a></li>
                </ul>-->
              </li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              
              <% if retailer_signed_in? %>
                <li><%= link_to 'Edit profile', edit_retailer_registration_path %></li>
                <li><%= link_to "Logout", destroy_retailer_session_path, :method => :delete %></li>
              <% elsif customer_signed_in? %>
                <li><%= link_to 'Edit profile', edit_customer_registration_path %></li>
                <li><%= link_to "Logout", destroy_customer_session_path, :method => :delete %></li>
              <% elsif driver_signed_in? %>
                <li><%= link_to 'Edit profile', edit_driver_registration_path %></li>
                <li><%= link_to "Logout", destroy_driver_session_path, :method => :delete %></li>
              <% end %>
            </ul>
          </section>
        </nav>
  </div>

  <div class="row">    
    <div class="large-12 columns">    
        <%= yield %>
    </div>

    <!-- <div class="large-3 pull-9 columns">
        
      <ul class="side-nav">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
        <li><a href="#">Section 5</a></li>
        <li><a href="#">Section 6</a></li>
      </ul>
      
      <p><img src="http://placehold.it/320x240&text=Ad"/></p>
        
    </div> -->
  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright. </p>
        </div>
        <div class="large-6 columns">
<!--           <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul> -->
        </div>
      </div>
    </div> 
  </footer>


      </div>
  </body>
</html>